---
import MainLayout from "@layouts/MainLayout.astro";
import { getCollection } from "astro:content";

let blogPosts = await getCollection("blog");

// blogPosts = blogPosts.sort((a, b) => {
//   return a.data.pubDate.pubDate.getYear() - b.data.pubDate.pubDate.getYear();
// });
---

<MainLayout title="Welcome to Astro." description="Astro description">
  <div class="max-w-3xl mx-auto">
    <h1 class="text-5xl font-bold leading-relaxed px-14 lg:px-14">Blog</h1>
    <ul class="space-y-4">
      {
        blogPosts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}`} class="flex  gap-4 items-center">
              <div class="font-bold text-neutral-500 pl-4 pr-2 space-y-3">
                <span class=" text-5xl">{post.data.pubDate.getDay()}</span>
                <span>
                  {post.data.pubDate.getMonth()}/{post.data.pubDate.getYear()}
                </span>
              </div>
              <div>
                <h3 class="font-bold text-2xl text-primary-500 leading-relaxed">
                  {post.data.title}
                </h3>
                <p class="text-base line-clamp-2">{post.data.description}</p>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</MainLayout>
