---
import Image from "astro/components/Image.astro"
import type { CollectionEntry } from "astro:content"
import { twMerge } from "tailwind-merge"

interface Props {
  entry: CollectionEntry<"blog">
  class?: string
}

const { entry } = Astro.props
---

<header class={twMerge("flex flex-col gap-4 items-center ", Astro.props.class)}>
  <h1 class="mx-1 max-w-3xl text-4xl text-center my-2 font-semibold">
    {entry.data.title}
  </h1>
  <section
    class="author h-[58px] grid grid-rows-2 grid-cols-[58px_1fr] items-center gap-x-4"
  >
    <Image
      src="/favicon.png"
      height={200}
      width={200}
      alt={entry.data.author}
      class="avatar rounded-full h-[56px] w-[56px] object-cover row-span-2"
    />
    <p class="!p-0 !m-0 col-start-2 not-prose font-medium">
      {entry.data.author}
    </p>
    <small class="!p-0 !m-0">{entry.data.date.toDateString()}</small>
  </section>
  <Image
    src={entry.data.cover ?? ""}
    alt={entry.data.title}
    height={512}
    width={(512 * 16) / 9}
    class="rounded-lg w-full"
  />
</header>
