---
import Image from "astro/components/Image.astro"
import type { CollectionEntry } from "astro:content"

interface Props {
    entry: CollectionEntry<"blog">
}

const { entry } = Astro.props
---

<header>
    <h1 class="mx-1">{entry.data.title}</h1>

    <Image
        src={entry.data.cover ?? ""}
        alt={entry.data.title}
        height={512}
        width={(512 * 16) / 9}
        class="rounded-lg"
    />

    <section
        class="author h-[58px] grid grid-rows-2 grid-cols-[58px_1fr] items-center gap-x-4"
    >
        <Image
            src="/favicon.png"
            height={200}
            width={200}
            alt={entry.data.author}
            class="avatar rounded-full h-[56px] w-[56px] object-cover row-span-2"
        />
        <p class="!p-0 !m-0 col-start-2 not-prose font-medium">
            {entry.data.author}
        </p>
        <small class="!p-0 !m-0">{entry.data.date.toDateString()}</small>
    </section>
</header>
