---
import type { Playlist } from "../../types/youtube";

export type Props = {
  data: Playlist;
};

const { data } = Astro.props;
---

<li>
  <a href={`/tutorials/${data.id}`} class="tuto-card block">
    <header class="label-large">
      <div class="label-large">Courses</div>
      <small class="text-primary">{data.contentDetails.itemCount}</small>
    </header>
    <img
      src={data.snippet.thumbnails.medium.url}
      alt={data.snippet.title}
      loading={"lazy"}
    />
    <h3 class="headline-large">{data.snippet.title}</h3>
    <p class="body-large line-clamp-3">
      {data.snippet.description}
    </p>
  </a>
</li>

<style>
  .tuto-card {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    background-color: rgba(var(--surface-variant), 0.25);
    border: 1px solid rgba(var(--surface-variant), 1);
  }

  .tuto-card {
    text-decoration: none !important;
  }

  .tuto-card:hover {
    color: currentColor;
    @apply bg-primary-container text-on-primary-container ring-2 ring-primary border-primary;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 0 4px;
  }

  img {
    border-radius: 1rem;
  }

  .tuto-card img {
    border-radius: 1rem;
  }

  h3 {
    padding: 1rem 0;
  }

  p {
    padding: 0 1rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
</style>
