---
import type { Playlist } from "../../types/youtube";

export type Props = {
  data: Playlist;
};

const { data } = Astro.props;
---

<li>
  <a href={`/tutorials/${data.id}`} class="tuto-card block">
    <header class="font-medium text-sm">
      <div class="label-large">Courses</div>
      <small class="text-primary">{data.contentDetails.itemCount}</small>
    </header>
    <img
      src={data.snippet.thumbnails.medium.url}
      alt={data.snippet.title}
      loading={"lazy"}
      class="rounded-xl"
    />
    <h3 class="text-3xl py-4">{data.snippet.title}</h3>
    <p class="text-center px-4 mx-auto line-clamp-3">
      {data.snippet.description}
    </p>
  </a>
</li>

<style>
  .tuto-card {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    @apply bg-surface-variant text-on-surface-variant;
  }

  .tuto-card {
    text-decoration: none !important;
  }

  .tuto-card:hover {
    color: currentColor;
    @apply bg-primary-container text-on-primary-container ring-2 ring-primary border-primary;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 0 4px;
  }

  .tuto-card img {
    border-radius: 1rem;
  }
</style>
