---
import Image from "astro/components/Image.astro";
export type CardProps = {
    title: string;
    description: string;
    href: string;
    thumbnail?: string;
    tags?: string[];
    date?: Date;
};

const props = Astro.props as CardProps;
---

<a href={props.href} class="card block">
    <Image
        class="cover"
        src={props.thumbnail ?? ""}
        alt={props.title}
        loading="lazy"
        width={512}
        height={(512 * 9) / 19}
    />
    <h3 class="headline-medium">{props.title}</h3>
    <p class="body-large line-clamp-3">{props.description}</p>
    <footer>
        {
            props.tags && (
                <ul class="tag-list">
                    {props?.tags?.slice(0, 3)?.map((tag) => (
                        <li>
                            <span class="tag label-medium">{tag}</span>
                        </li>
                    ))}
                </ul>
            )
        }
    </footer>
</a>

<style>
    .card {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 1rem;
        padding: 2rem 1.25rem;
        background-color: rgba(var(--surface-variant), 0.25);
        border: 1px solid rgba(var(--outline), 0.35);
        text-decoration: none !important;
        transition: all 0.15s ease;
        height: 100%;
    }

    .card:hover {
        color: currentColor;
        background-color: rgba(var(--surface-variant), 0.45);
        color: rgb(var(--on-surface-variant));
        border-color: rgb(var(--surface-variant));
    }

    header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        padding: 0 4px;
    }

    .cover {
        border-radius: 1rem;
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        background-color: rgba(var(--surface-variant), 0.725);
        object-fit: cover;
    }

    .card .cover {
        border-radius: 1rem;
    }

    p.body-large {
        line-clamp: 3;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

    footer {
        margin-top: auto;
    }

    .tag-list {
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;
    }

    .tag {
        border-radius: 30000px;
        display: block;
        background-color: rgba(var(--surface-variant), 0.35);
        border: 1px solid rgba(var(--outline), 0.35);
        padding: 0.5rem 1rem;
    }
</style>
