---
export type CardProps = {
    title: string;
    description: string;
    href: string;
    thumbnail?: string;
    tags?: string[];
    date?: Date;
};

const props = Astro.props as CardProps;
---

<li>
    <a href={props.href} class="card block">
        <img
            class="image-cover"
            src={props.thumbnail}
            alt={props.title}
            loading="lazy"
        />
        <h3 class="headline-large">{props.title}</h3>
        <p class="body-large line-clamp-3">{props.description}</p>
        <footer>
            {
                props.tags && (
                    <ul class="tag-list">
                        {props?.tags?.map((tag) => (
                            <li>
                                <span class="tag label-medium">{tag}</span>
                            </li>
                        ))}
                    </ul>
                )
            }
        </footer>
    </a>
</li>

<style>
    .card {
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        padding: 2rem 1rem 2rem;
        text-align: center;
        background-color: rgba(var(--surface-variant), 0.25);
        border: 1px solid rgba(var(--outline), 0.35);
        text-decoration: none !important;
        transition: all 0.15s ease;
    }

    .card:hover {
        color: currentColor;
        background-color: rgb(var(--surface-variant));
        color: rgb(var(--on-surface-variant));
        border-color: rgb(var(--surface-variant));
    }

    header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        padding: 0 4px;
    }

    .image-cover {
        border-radius: 1rem;
        width: 100%;
        aspect-ratio: 16/9;
        background-color: rgba(var(--surface-variant), 0.725);
        object-fit: cover;
    }

    .card .image-cover {
        border-radius: 1rem;
    }

    h3 {
        padding: 1rem 0;
    }

    p.body-large {
        padding: 0 1rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
    }

    .tag-list {
        padding: 1.5rem 0 0 0;
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;
        align-items: center;
        justify-content: center;
    }

    .tag {
        border-radius: 30000px;
        display: block;
        /* border: 1px solid rgba(var(--primary), 0.5); */
        background-color: rgba(var(--surface-variant), 0.75);
        padding: 0.5rem 1rem;
    }
</style>
