---
export type Props = {
  title: string;
  imageUrl?: string;
  href: string;
  description: string;
};

const { title, imageUrl, href, description } = Astro.props;
---

<li>
  <a href={href} class="tuto-card">
    <div
      class="image-container rounded-xl w-hull aspect-square bg-on-surface-variant grid place-content-center"
    >
      <img src={imageUrl} alt={title} loading="lazy" class="max-w-[120px]" />
    </div>
    <h3 class="text-3xl py-4 font-bold">{title}</h3>
    <p class="text-center px-4 mx-auto line-clamp-3">
      {description}
    </p>
    <footer></footer>
  </a>
</li>

<style>
  .tuto-card {
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
    padding: 1rem 1rem 2rem;
    text-align: center;
    color: rgb(var(--on-surface-variant));
    border: 1px solid rgb(var(--surface-variant));
  }

  .tuto-card {
    text-decoration: none !important;
    transition: all 0.15s ease;
    background-color: rgba(var(--surface-variant), 0.15);
  }

  .tuto-card:hover {
    color: currentColor;
    background-color: rgba(var(--surface-variant), 0.45);
    border-color: rgba(var(--primary), 0.5);
    box-shadow: 0 0 0 1px rgba(var(--primary), 0.5);
  }

  .image-container {
    width: 100%;
    aspect-ratio: 9/6;
    background-color: rgb(var(--on-surface-variant));
  }

  .tuto-card img {
    border-radius: 1rem;
  }
</style>
